.tours{
  background: url('/images/bg.png');
  margin: 20px 0;
  h2{
    margin: 20px 0 40px 0;
  }
  a{
    border-bottom: 1px solid $text;
  }
}

.tour-items{
  display: flex;
  justify-content: space-between;
  margin: 40px -60px;
}
.tour-item{
  background: $bg;
  padding: 100px 60px;
  width: calc(50% - 120px);
  margin: 0 60px;
}
.tour-title__1{
  color: $title1;
}

.tour-title__2{
  color: $title2;
}
time{
  font: $fimportant;
}