footer.footer
  .container
    h2 Организаторы
    .organisators-wrap
      .organisators-item
        a(href="#")(target="_blank")
          img(src="assets/7.png")(alt="7 Пядей")
        a(href="http://picom.ru")(target="_blank")
          img(src="assets/picom.png")(alt="Пиком")
        a(href="#")(target="_blank")
          img(src="assets/izhgtu.png")(alt="ИжГТУ")
        a(href="#")(target="_blank")
          img(src="assets/mveu.png")(alt="МВЕУ")
