header.header
  .container
    .header-wrap
      .logo
        svg(role="img")(width="100")(height="132"): use(xlink:href="#logo")
      .cont
        a.tel(href="tel:+78635421222") +7 (863) 5421-222
        .soc
          a(href="http://vk.com")
            svg(role="img")(width="25")(height="15"): use(xlink:href="#vk")
      .title 
        h1 «Парабола» открытая олимпиада
        p для учащихся школ Удмуртской республики (7-9 классы)
