section.tours
  .container
    h2 туры
    .tour-items
      .tour-item
        h3.tour-title__1 По информатике
        time(datetime="2018-04-07") 7 апреля 2018 года
      .tour-item 
        h3.tour-title__2 По математике
        time(datetime="2018-04-08") 8 апреля 2018 года</time>
    aside.disclamer
      p * Учащиеся могут принять участие по желанию в обоих турах олимпиады - математика и информатика - или только в одном из них. Итоги будут подводиться в трёх зачётах: математика, информатика, математика+информатика.
      a.reference Ссылка на положение
