html.no-js(lang="ru")
  head
    include _layouts/head
  body
    include _layouts/sprite
    .body-wrap
      include _layouts/header
      main
        include _layouts/tours
        include _layouts/form
      include _layouts/footer
